body, html {
  text-shadow: 2px 2px 5px black;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: url('./assets/cloud.jpg') no-repeat center center fixed;
  background-size: cover;
}
