.contacts {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background: linear-gradient(135deg, #c0dbdd, #7f858d);
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  color: #fcfcfc;
  text-align: center;
}

.contacts-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts h1 {
  color: #b4b2b2;
  font-size: 42px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.contacts p {
  color: #fcfcfc;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.contacts-img {
    max-width: 40px;
    margin: 5px;
}